.styleForComponent1 {
  border: 2px solid blue;
  background-color: yellow;
}

.styleForComponent2 {
  border: 2px solid green;
  background-color: orange;
}

.styleForComponent3 {
  border: 2px solid red;
}
